<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <p>
        <%= form_for(@comment) do |f| %>
          <%= f.text_field :body %>
        
          <%= f.submit id: 'send_comment' %>
        <% end %>
      </p>
    </div>
  </div>
</div>
